# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/node_modules
/backend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/frontend/build
/dist

# python
/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/ml/env/
/ml/venv/
/ml/__pycache__/
/ml/api/__pycache__/
/ml/models/*.h5
/ml/models/*.pkl

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/frontend/.env
/backend/.env
/ml/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs
*.log

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temp files
.tmp/
.temp/